body {
    background-color: rgb(152, 246, 246);
}

#listOfWords {
    width: 100%;
    word-wrap: normal;
}

#words {
    width: 300px;
    height: 50px;
}

#grid {
    border-collapse: separate;
    width: 100%;
    border-spacing: 1px;
}

#grid td {
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
    padding: 3px;
    border-radius: 5px;
}

.selected {
    background-color: rgb(216, 216, 216);
}

.highlighted {
    color: white !important;
    background-color: orange;
}

.locked {
    color: lightgrey;
}