body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#listOfWords {
    width: 30%;
    word-wrap: normal;
}

#words {
    width: 300px;
    height: 50px;
}

#grid {
    border-collapse: collapse;
    border: 3px solid black;
}

#grid td {
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

.selected {
    background-color: black;
    color: white;
}